In [1]:
import pandas as pd
import glob as glob
import os

### need a basic csv with session names

### locate processed files to use

In [2]:
file_path = '/Volumes/Seagate Backup Plus Drive/Projects/ClarkP30_Recordings/ProcessedData'
files = glob.glob(file_path+'/*.mat')

### make df and add session info

In [3]:
df = pd.DataFrame()
df['session'] = [os.path.splitext(os.path.basename(f))[0] for f in files]

### add group ids

In [4]:
tg = ['ATN07','ATN15']
wt = ['ATN08','ATN10','ATN17']

In [5]:
regstr = '|'.join(wt)
idx = df['session'].str.upper().str.contains(regstr)    
df.loc[idx,'group'] = 'control'


regstr = '|'.join(tg)
idx = df['session'].str.upper().str.contains(regstr)    
df.loc[idx,'group'] = 'tg'

In [6]:
df

                  session    group
0   ATN17_S20190826120645  control
1   ATN17_S20190906163739  control
2   ATN17_S20190916163012  control
3   ATN17_S20190923172622  control
4   ATN07_S20180927163519       tg
..                    ...      ...
75  ATN07_S20180807143014       tg
76  ATN07_S20180808135418       tg
77  ATN07_S20180809173125       tg
78  ATN07_S20180820095236       tg
79  ATN07_S20180914103110       tg

[80 rows x 2 columns]

### save

In [7]:
df.to_csv('/Volumes/Seagate Backup Plus Drive/Projects/ClarkP30_Recordings/analysis/df_session.csv')